<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Проверка авторизации</title>
</head>
<body>
<h1>Вы были перенаправлены на ссылку для авторизации. Если этого не произошло, нажмите</h1>
<h1><a href="{{ .AuthURL }}" target="_blank">АВТОРИЗАЦИЯ ЧЕРЕЗ TELEGRAM</a></h1>

<script>
    const authToken = "{{ .authToken }}";
</script>
<script src="../static/js/check_status.js"></script>
</body>
</html>
